* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  font-family: Helvetica, sans-serif;
}

.structure {
  display: grid;

  grid-template-columns: 250px 1fr 300px;
  height: 100vh;
}

/* left menu styling */

h1 {
  margin-top: 10px;
}

.iconsstar {
  margin-top: 20px;
  margin-right: 20px;
}

/* the below code to change the svg colour doesn't work */

.iconsstar svg {
  fill: rgba(66, 161, 242, 255);
}

.leftmenu {
  border: 1px solid #e1e8ed;
}

.nav-list {
  display: grid;
  grid-template-rows: 8 (auto);
  /* grid-gap: 5px; */
}

.logo {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 60px;
}

.icons {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
}

li {
  list-style: none;
}

.sidebar {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px;
  font-size: 1rem;
  font-weight: bold;
  align-items: center;
}

.sidebar:hover {
  color: rgba(66, 161, 242, 255);
}

.tweetbutton button {
  background-color: rgba(66, 161, 242, 255);
  padding: 5px 32px;
  border-radius: 10px;
  color: white;
  margin-left: 20px;
  width: 200px;
  padding: 10px;
  margin-bottom: 20px;
}

.profilepicbttm {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
}

.btm-menu-icon {
  width: 20px;
  /* height: 35px; */
}

.profilepic {
  border-radius: 50%;
  width: 60px;
  margin-left: 10px;
  margin-top: 70px;
}

.profile-name {
  margin-top: 90px;
  text-align: left;
  font-size: 0.7rem;
}

.menu-icon-bttm {
  margin-top: 90px;
  text-align: center;
}

/* //////////////////////////// */

/* middle styling */

/* middle top styling */

.photo {
  border-radius: 50%;
  width: 100px;
  margin-left: 10px;
  margin-top: 10px;
}

.middle {
  border: 1px solid #e1e8ed;
  overflow: scroll;
}

.middle-top {
  display: grid;
  grid-template-rows: 3 (1fr, 1fr, 1fr);
}

h1 {
  font-size: 1.5rem;
  padding: 10px;
}

.top-home {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.submissionfield {
  width: 1fr;

  border: none;
}

textarea {
  resize: none;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 1.5rem;
  outline: none;
}

.middle-home {
  display: grid;
  grid-template-columns: auto 1fr;
}

.middle-home::-webkit-scrollbar {
  display: none;
}

hr {
  border-top: 1px solid #e1e8ed;
}

.hr1 {
  border-top: 20px solid #f5f8fa;
}

.bttm-home-icons {
  display: grid;
  grid-template-columns: auto auto auto auto auto 1fr auto;
  grid-gap: 5px;

  margin-top: 40px;
}

.iconsstar {
  width: 25px;
  height: 25px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.tweetbutton2 {
  background-color: rgba(142, 208, 248, 255);
  padding: 10px;
  border-radius: 10px;
  color: white;
  margin-right: 30px;
  margin-bottom: 10px;
  width: 100px;
}
.icons2 {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
/* middle bottom styling */

.tweet-post {
  display: grid;
  grid-template:
    "postimage postcontent"
    "postimage posticon";
  grid-gap: 5px;
  margin-bottom: 50px;
  border-bottom: 1px solid #e1e8ed;
  border-bottom-width: 100%;
}

.maintweetimage {
  width: 90%;
  border-radius: 10px;
  margin: 20px 0;
}

.profilepic2 {
  border-radius: 50%;
  width: 60px;
  margin-left: 10px;
  margin-top: 10px;
}

.tweetname {
  font-weight: bold;
}

.topline {
  margin: 5px 0;
}

.bttmline {
  margin: 5px 0;
}

article:hover {
  background-color: #f5f8fa;
}

.postimage {
  grid-area: postimage;
  display: grid;
  justify-content: center;
}

.postimage:hover {
  background-color: #f5f8fa;
}

.postcontent {
  grid-area: postcontent;
}

p .postcontent:hover {
  background-color: #f5f8fa;
}

.posticon {
  grid-area: posticon;
  display: grid;
  grid-auto-flow: column;
  margin-bottom: 20px;
}

.smallicons {
  width: 18px;
}

.hashtags {
  color: blue;
}

.copytime {
  color: #657786;
}

/* right styling */

/* right top search bar styling */

.right {
  border: 1px solid #e1e8ed;
}

.card2 {
  max-height: 400px;
  overflow: scroll;
}

.search {
  background-color: rgba(236, 226, 226, 0.397);
  border-radius: 30px;
  height: 40px;
  width: 250px;
  text-align: center;
  margin-left: 10px;
  margin-top: 5px;
}

/* first grid styling - whats happening */

.news {
  display: grid;
  grid-template-columns: 1fr auto;
  border-bottom: 1px solid #e1e8ed;
  border-bottom-width: 100%;
}

.card-content {
  font-size: 0.8rem;
  color: #657786;
  padding: 5px 5px;
  margin: 10px;
}

.line1 {
  font-size: 0.8rem;
  color: #657786;
  margin-bottom: 5px;
}

.line2 {
  font-size: 0.9rem;
  color: #000000;
  margin-bottom: 5px;
}

.line3 {
  font-size: 0.8rem;
  color: #657786;
}

.trending {
  color: blue;
}

h2 {
  font-size: 1.2rem;
  margin: 15px;
  background-color: rgba(236, 226, 226, 0.397);
  padding: 20px;
  border-radius: 5px;
}

.smallimage {
  width: 60px;
  margin-right: 5px;
}

.smallimage img {
  width: 100%;
  border-radius: 5px;
}
